$primary: #5bb870;

$dark-1: #222222;
$dark-2: #333333;
$dark-3: #666666;
$dark-4: #777777;
$dark-5: #888888;
$dark-6: #909090;
$dark-7: #999999;

$light-1: #fafafa;
$light-2: #f8f9fb;
$light-3: #f0f0f0;
$light-4: #ebebeb;
$light-5: #e5e5e5;
$light-6: #d6dbe4;
$light-7: #cccccc;

$black: #000000;
$white: #ffffff;

$red: #e76055;
$yellow: #fab300;
$green: #058012;

$transition: all 100ms linear;
